@model Hospital_MVC.Models.DoctorsTable
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<body style="background-image: url(https://cutewallpaper.org/21/1920-x-1080-gif/Animated-GIFs-Animation-on-Behance.gif); background-repeat: no-repeat; background-size: cover; ">

    <div class="container p-3 my-3 border">
        <h1>Ticket Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doctor_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Doctor_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Floor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Floor)
            </dd>

        </dl>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Change</a>
            <a class="btn btn-danger" asp-action="Index">Back</a>
        </div>
    </div>
</body>