@model List<DoctorsTable>

<body style="background-image: url(https://cutewallpaper.org/21/1920-x-1080-gif/Animated-GIFs-Animation-on-Behance.gif); background-repeat: no-repeat; background-size: cover; ">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @* foreach (var item in Model)*@
                @*{*@
                <th>
                    ID
                </th>
                <th>
                    Doctor Name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Floor
                </th>
                <th>
                    SSN
                </th>
                @*}*@
                <th></th>
                <th>Edit</th>
                <th>View</th>
                <th>Fire</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
                </td>

                <td>

                <td class="text-center">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ID">Change</a>
                </td>
                <td class="text-center">
                    <a asp-action="Details" class="btn btn-dark" asp-route-docid="@item.ID">View Details</a>
                </td>
                <td class="text-center">
                    <a asp-action="Fire" class="btn btn-warning" asp-route-id="@item.ID">Fire</a>
                </td>
            </tr>
            }



        </tbody>
    </table>
</div>
</body>