@model Hospital_MVC.Models.DoctorsTable;
@{
    ViewData["Title"] = "Fire";
}

<body style="background-image: url(https://cutewallpaper.org/21/1920-x-1080-gif/Animated-GIFs-Animation-on-Behance.gif); background-repeat: no-repeat; background-size: cover; ">


    <h2>Fire a Doctor</h2>

    <h3>Cannot be undone</h3>
    <div class="container p-3 my-3 border">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doctor_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Doctor_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Floor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Floor)
            </dd>

        </dl>

        <form asp-action="Fire">
            <input type="hidden" asp-for="ID" />
            <input class="btn btn-primary" type="submit" value="Yes" />
            <a class="btn btn-danger" asp-action="Index">No</a>
        </form>

    </div>

</body>